Repository didacelgueta/wg-be-assessment: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  language: system
  args:
  - -S
  - -l
  - '120'
  entry: black

flake8:
  name: flake8
  language: system
  entry: flake8

add answers to exercise 1 and 2
  .pylintrc
  exercises/exercise_1_1.py
  exercises/exercise_1_2.py
Due: black

FEATURE-retrieve-health-index-for-three-different-base-years
  poetry.lock
  pyproject.toml
  wg_be_exam/actions/__init__.py
  wg_be_exam/actions/getHealthIndexes.py
  wg_be_exam/config.py
  wg_be_exam/routes/index/models.py
  wg_be_exam/routes/index/router.py
Due: black

FEATURE Reatrive risk factor associated with zipcodes
  poetry.lock
  pyproject.toml
  wg_be_exam/actions/readCsv.py
  wg_be_exam/routes/zipcode/models.py
  wg_be_exam/routes/zipcode/router.py
Due: black

FEATURE Setup postgres enable route with db
  .env
  .gitignore
  Makefile
  logger.conf
  poetry.lock
  pyproject.toml
  wg_be_exam/actions/insertValue.py
  wg_be_exam/app.py
  wg_be_exam/config.py
  wg_be_exam/db/alembic.ini
  wg_be_exam/db/db.py
  wg_be_exam/db/migrations/README
  wg_be_exam/db/migrations/env.py
  wg_be_exam/db/migrations/script.py.mako
  wg_be_exam/db/migrations/versions/06511b064f85_create_zipcodes_table.py
  wg_be_exam/db/seeders.py
  wg_be_exam/routes/zipcode/router.py
Due: black, flake8

BUGFIX Solve bugs function get zipcode by risk factor
  wg_be_exam/config.py
  wg_be_exam/routes/zipcode/router.py
Due: black

FEATURE Get index health with json
  poetry.lock
  pyproject.toml
  wg_be_exam/actions/getHealthIndex.py
  wg_be_exam/actions/getHealthIndexes.py
  wg_be_exam/config.py
  wg_be_exam/routes/index/router.py
Due: black

FEATURE Implement catching mechanism
  .env
  poetry.lock
  pyproject.toml
  wg_be_exam/actions/getHealthIndex.py
  wg_be_exam/actions/readZipcodesFile.py
  wg_be_exam/app.py
  wg_be_exam/config.py
  wg_be_exam/db/alembic.ini
  wg_be_exam/db/db.py
  wg_be_exam/db/seeders.py
  wg_be_exam/routes/index/router.py
  wg_be_exam/routes/zipcode/router.py
Due: black, flake8

FEATURE Implement catching mechanism (#7)
  .env
  poetry.lock
  pyproject.toml
  wg_be_exam/actions/getHealthIndex.py
  wg_be_exam/actions/readZipcodesFile.py
  wg_be_exam/app.py
  wg_be_exam/config.py
  wg_be_exam/db/alembic.ini
  wg_be_exam/db/db.py
  wg_be_exam/db/seeders.py
  wg_be_exam/routes/index/router.py
  wg_be_exam/routes/zipcode/router.py
Due: black, flake8

FEATURE Add testing
  poetry.lock
  pyproject.toml
  tests/actions/__init__.py
  tests/actions/test_GetHealthIndex.py
  tests/actions/test_Insertvalue.py
  tests/actions/test_ReadZipcodesFile.py
  tests/integration/test_app.py
  wg_be_exam/actions/readZipcodesFile.py
Due: black, flake8

add coverage and coverage-report to Makefile
  Makefile
  tests/actions/test_ReadZipcodesFile.py
Due: black

Feature Add testing (#8)
  Makefile
  poetry.lock
  pyproject.toml
  tests/actions/__init__.py
  tests/actions/test_GetHealthIndex.py
  tests/actions/test_Insertvalue.py
  tests/actions/test_ReadZipcodesFile.py
  tests/integration/test_app.py
  wg_be_exam/actions/readZipcodesFile.py
Due: black, flake8

FEATURE Dockerize project
  .env
  Dockerfile
  docker-compose.yml
  wg_be_exam/db/migrations/env.py
Due: black

FEATURE Dockerize project (#9)
  .env
  Dockerfile
  docker-compose.yml
  wg_be_exam/db/migrations/env.py
Due: black

FEATURE Add new tragets to Makefile
  Makefile
Due: none

FEATURE Add new tragets to Makefile (#10)
  Makefile
Due: none

Update README.md
  README.md
Due: none

Update README.md (#11)
  README.md
Due: none

Path conditions:
  black: any of: \.py$, but not: ^(blib2to3/|profiling/|tests/data/|\.mypy/|\.tox/)
  flake8: any of: app and \.py$ and not (^(blib2to3/|profiling/|tests/data/|\.mypy/|\.tox/))
